<!DOCTYPE html>
<html>
<head>
	<title>Procesos</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery-2.2.3.min.js"></script>
</head>
<body>

	<ol>
		<li><a href="/proceso/actualizarLocales">Actualización de Locales Comerciales</a></li>
		<li><a href="/proceso/bajaPOIs">Baja de POIs</a></li>
		<li><a href="/proceso/agregarAcciones">Agregar acciones a usuarios</a></li>
		<li><a href="/proceso/multiple">Realizar proceso múltiple</a></li>
	</ol>

 
</body>
</html>