<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<form action="/habilitacion">
	
		<label>Terminales:</label>
		 <select> 
		 	<option> Abasto </option> 
			<option>  Floresta </option>
		</select> 
		<br>
		<br>
		
		<label>Habilitción/Deshabilitación de:</label>
		<ul style="list-style-type:disc">
			<li>
				<label>Averiguar disponibilidad horaria</label>
				<input type="checkbox"/>
			</li>
			<li>
				<label>Búsqueda por cercanía </label>          
				 <input type="checkbox"/>
			 </li>
			<li>
				<label>Búsqueda por palabra </label>           
				 <input type="checkbox"/> 
			</li>
		</ul>
	</form>

</body>
</html>