<!DOCTYPE html>
<html>
<head>
	<title>Puntos de Interes</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery-2.2.3.min.js"></script>
</head>
<body>

	<ol>
		<li><a href="/poi_administrator">Administración de POI's</a></li>
		<li><a href="/query_reports">Reportes de Consultas</a></li>
		<li><a href="/terminal_configuration">Configuracion de Terminales</a></li>
		<li><a href="/activarProcesos">Activación de Procesos</a></li>
		<li><a href="/historial_busquedas">Historial De Búsquedas</a></li>
	</ol>

 
</body>
</html>