<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form action="/habilitacion">

Terminales: <select> <option> Abasto </option> 
					<option>  Floresta </option>
</select> 
<br>
<br>

Habilitción/Deshabilitación de:
<ul style="list-style-type:disc">
<li>Averiguar disponibilidad horaria <input type="checkbox"/> </li>
<li>Búsqueda por cercanía            <input type="checkbox"/> </li>
<li>Búsqueda por palabra             <input type="checkbox"/> </li>

</form>

</body>
</html>