<!DOCTYPE html >
<html>
<head>
	<style type="text/css">
<!--
a{text-decoration:none}
a:hover{text-decoration: underline ; color:black;}
-->
</style>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form action="/admin">
<input type="submit" name="button1" value="Administración de POI's"/>
<br />
<br />
<a href="reportes.html" target="_blank">
<input type="button" value="Reportes"/></a>
<br />
<br />
<input type="button" value="Administración de Terminales"/>
</form>

</body>
</html>
