<!DOCTYPE html>
<html>
<head>
	<title>Index Administrador</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<form >
		<a href="/abmPois.html" target="_blank">
		<input type="button" value="Administración de POI's"/>
		</a>
		<br />
		<br />
		<a href="reportes.html" target="_blank">
		<input type="button" value="Reportes"/>
		</a>
		<br />
		<br />
		<a href="adminTerminales.html" target="_blank">
		<input type="button" value="Administración de Terminales"/>
		</a>
	</form>

 
</body>
</html>