<!DOCTYPE html PUBLIC>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
	content="Sitio externo del Gobierno de la Ciudad de Buenos Aires.">
<meta name="author" content="Grupo45 - UTN-BA">
<title>Home Administrador</title>
<link rel="shortcut icon" href="bastrap3/favicon.ico">
<link rel="apple-touch-icon-precomposed"
	href="bastrap3/favicon-mobile.png">
<link rel="stylesheet" href="bastrap3/bootstrap.min.css">
<link rel="stylesheet" href="bastrap3/bastrap.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/slideImages.css">

</head>

<body>
	<header class="navbar navbar-primary navbar-top">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<a class="navbar-brand bac-header" href="/my_home_page">Buenos
						Aires Ciudad</a>
				</div>
				<div class="col-md-6 col-sm-6">
					<h3 class="sub-brand">Administrador</h3>
				</div>
			</div>
		</div>
	</header>
	
	<main class="main-container" role="main" style="padding-top: 0px;padding-bottom: 0px;">

	<ol>
		<li><a href="/poi_administrator">Administración de POI's</a></li>
		<li><a href="/query_reports">Reportes de Consultas</a></li>
		<li><a href="/terminal_configuration">Configuracion de Terminales</a></li>
		<li><a href="/activarProcesos">Activación de Procesos</a></li>
		<li><a href="/historial_busquedas">Historial De Búsquedas</a></li>
	</ol>
	
	</main>
	
	<footer>
		<div class="footer" style="padding: 0px 0;">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<a class="navbar-brand bac-footer" style="margin-top: 15px;"
							href="http://www.buenosaires.gob.ar" target="_blank">Buenos
							Aires Ciudad</a>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="sub-brand">
							<p>
								Diseño de Sistemas - UTN - FRBA<br /> <span
									class="text-muted">Grupo 45</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="bastrap3/jquery.min.js"></script>
	<script src="bastrap3/bootstrap.min.js"></script>
	<script src="bastrap3/validator.js"></script> <!-- http://1000hz.github.io/bootstrap-validator -->
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/loginProcess.js"></script>
	<script src="js/slideImages.js"></script>
	 
</body>
</html>