<!DOCTYPE html>
<html>
<head>
	<title>Busqueda por cercania</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script>
		var myCenter=new google.maps.LatLng(-34.670741, -58.465881);
		function initialize() {
			//configuracion inicial de mi mapa
			  	var mapProp = {
				    center:myCenter,
				    zoom:10,
				    mapTypeId:google.maps.MapTypeId.ROADMAP
			  	};
			
			//creo el mapa y seteo las propiedad
		  		var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
			
		  	//creo un punto con sus propiedades y animaciones
				var marker=new google.maps.Marker({
					position:myCenter,
					animation : google.maps.Animation.BOUNCE
				});
	
			marker.setMap(map);
	
			//creo un popup de informacion
			var infowindow = new google.maps.InfoWindow({
				content : "Usted esta aquí!"
			});
	
			//vinculo el pop up con el punto creado
			infowindow.open(map, marker);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
</head>
<body>
	<ul class="navbar">
	  <li><a href="index.html">Salir</a>
	</ul>
	<br>
	
	<form action="/buscarPorCercania" method="post">
		Longitud: <br>
		<input type="text" name="longitud" value={{longitud}}><br>
		Latitud: <br>
		<input type="text" name="latitud" value={{latitud}}>
		<br>
		<input type="submit" value="Buscar"/>
	</form>
	<div id="results">
		<table>
			<thead>
				<tr>
					<th> Resultados </th>
				</tr>
			</thead>
			<tbody>
				{{#resultados}}
					<tr> <td>{{nombre}}</td></tr>
				{{/resultados}}
			</tbody>
		</table>
	</div>
	<div id="googleMap" style="width:500px;height:380px;"></div>
</body>
</html>