<!DOCTYPE html>
<html>
<head>
	<title>Consultar disponibilidad</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div class="container">
		<a href="/index.html">Volver a intentar</a>
	</div>

	<h2>Consultar disponibilidad</h2>
	<h3>Puntos en sistema</h3>
	
		<div>
		
			<tb>
				<tr>
					<td>
					 	Cantidad De Pois (totales): {{cantidadTotales}} <br /><br />	
					</td>
					<td>
						Lista: <br /><br />
						{{#poisTotales}}
							Nombre de POI: {{nombre}}<br />
						{{/poisTotales}}
					</td>
					<td>
					 	<br />Cantidad De Pois (disponibles): {{cantidadDisponibles}} <br /><br />	
					</td>
					<td>
						Lista: <br /><br />
						{{#poisDisponibles}}
							Nombre de POI: {{nombre}}<br />
						{{/poisDisponibles}}
					</td>
					
				</tr>	
			</tb>
					
		</div>
				
</body>
</html>