<!DOCTYPE html PUBLIC>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
	content="Sitio externo del Gobierno de la Ciudad de Buenos Aires.">
<meta name="author" content="Grupo45 - UTN-BA">
<title>Historial de Búsquedas Realizadas</title>
<link rel="shortcut icon" href="bastrap3/favicon.ico">
<link rel="apple-touch-icon-precomposed"
	href="bastrap3/favicon-mobile.png">
<link rel="stylesheet" href="bastrap3/bootstrap.min.css">
<link rel="stylesheet" href="bastrap3/bastrap.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/slideImages.css">

</head>
<body>

	<header class="navbar navbar-primary navbar-top">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<a class="navbar-brand bac-header" href="/my_home_page">Buenos
						Aires Ciudad</a>
				</div>
				<div class="col-md-6 col-sm-6">
					<h2 class="sub-brand">Historial de Búsquedas</h2>
				</div>
			</div>
		</div>
	</header>
	
	<main class="main-container" role="main" style="padding-top: 0px;padding-bottom: 0px;">
	
	<h3>Criterio de Búsqueda</h3>
	<div>
		<table>			
			<tr>					
				<td> Usuario </td>
				<td> Fecha </td>
				<td></td>
				<td></td>
			</tr>
			    <tbody>
			   		<tr> 
						<td><input type="text" class="form-control" name="usuario" placeholder="Usuario"/></td>
						<td><input type="text" class="form-control" name="fechaInicio" placeholder="DD/MM/AAAA"/></td>
						<td><input type="text" class="form-control" name="fechaFin" placeholder="DD/MM/AAAA"/></td>
						<td><a href="/armarTabla" >
								<input type="button" class="btn btn-primary" value="Buscar" />
							</a>
						</td>
							
					</tr>
														
			  	</tbody>
					
		</table>
		</div>
		
		<div>
			<h3>Resultado</h3>	
		{{#hasResults}}
		<div id="string">{{string}}</div>
		<div id="results">
			<table class="table table-striped table-bordered table-condensed table-responsive">
				<thead>
					<tr>
						<th> Fecha </th>
						<th> Usuario </th>
						<th> Parámetros </th>
						<th> POIs </th>						
					</tr>
				</thead>
				<tbody>
					{{#each result}}
						<tr> 
							<td>{{{fecha}}}</td>
							<td>{{usuario}}</td>
							<td><label>nombre</label> = {{parametros}}</td>
							<td> {{pois}}</td>
						</tr>
					{{~/each}}
				</tbody>
			</table>
		</div>
		{{/hasResults}}	
		</div>
		
		</main>
			<footer>
		<div class="footer" style="padding: 0px 0;">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<a class="navbar-brand bac-footer" style="margin-top: 15px;"
							href="http://www.buenosaires.gob.ar" target="_blank">Buenos
							Aires Ciudad</a>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="sub-brand">
							<p>
								Diseño de Sistemas - UTN - FRBA<br /> 
								<span class="text-muted">Grupo 45</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</footer>
	
	<script src="bastrap3/jquery.min.js"></script>
	<script src="bastrap3/bootstrap.min.js"></script>
	<script src="bastrap3/validator.js"></script> <!-- http://1000hz.github.io/bootstrap-validator -->
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/loginProcess.js"></script>
	<script src="js/slideImages.js"></script>
	<!-- JAVASCRIPT EXTRA -->
		

</body>
</html>