<!DOCTYPE html PUBLIC>
<html>
<head>
	<title>Puntos de Interes</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery-2.2.3.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/loginProcess.js"></script>
</head>

<body>
	<div class="signin-form">
		<div class="container">
			<form class="form-signin" method="post" id="login-form">
				<h2 class="form-signin-heading">Login</h2>
				<hr />
				<div id="error">
					<!-- error will be shown here ! -->
				</div>
				<div class="form-group">
					<input type="text" class="form-control"
						placeholder="Usuario" name="user" id="user" />
					<span id="check-user"></span>
				</div>
				<div class="form-group">
					<input type="password" class="form-control"
						placeholder="Contraseña" name="password" id="password" />
					<span id="check-password"></span>
				</div>
				<hr />
				<div class="form-group">
					<button type="submit" class="btn btn-default" name="btn-login" id="btn-login">
						<span class="glyphicon glyphicon-log-in"></span> &nbsp; Ingresar
					</button>
				</div>
			</form>
		</div>
	</div>

</body>
</html>