<!DOCTYPE html PUBLIC>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
	content="Sitio externo del Gobierno de la Ciudad de Buenos Aires.">
<meta name="author" content="Grupo45 - UTN-BA">
<title>Alta/Modificación</title>
<link rel="shortcut icon" href="bastrap3/favicon.ico">
<link rel="apple-touch-icon-precomposed"
	href="bastrap3/favicon-mobile.png">
<link rel="stylesheet" href="bastrap3/bootstrap.min.css">
<link rel="stylesheet" href="bastrap3/bastrap.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/slideImages.css">
</head>
<body> 
	<header class="navbar navbar-primary navbar-top">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<a class="navbar-brand bac-header" href="/my_home_page">Buenos
						Aires Ciudad</a>
				</div>
				<div class="col-md-6 col-sm-6">
					<h3 class="sub-brand">Alta/Modificación</h3>
				</div>
			</div>
		</div>
	</header>

	<form>
	<main class="main-container" role="main" style="padding-top: 0px;padding-bottom: 0px;">
	
		<h1>POI:</h1>
			
			<div class="row">
				<div class="col-lg-6">
				<label>Nombre:</label>
			    	<div class="input-group">
			    		
			    			<input type="text" class="form-control" placeholder="Nombre">
			    		<span class="input-group-btn">
			       	    	<button class="btn btn-info" type="button">Agregar</button>
			      		</span>
			      			
			   		 </div>
			  	</div>
			</div>
			<br>
			<br>
			
			<div class="row">
				<div class="col-lg-6">
				<label>Ubicación:</label>
			    	<div class="input-group">
			    		<input type="text" class="form-control" placeholder="Ubicación">
			    		<span class="input-group-btn">
			       	    	<button class="btn btn-info" type="button">Agregar</button>
			      		</span>			      			
			   		 </div>
			  	</div>
			</div>
			<br>
			<br>
			<div class="row">
				<div class="col-lg-6">
				<label>Agregar etiquetas:</label>
			    	<div class="input-group">
			    		<input type="text" class="form-control" placeholder="Etiquetas">
			    		<span class="input-group-btn">
			       	    	<button class="btn btn-info" type="button">Agregar</button>
			      		</span>
			      	 </div>
			  	</div>
			</div>
			<br>
			<br>	
			<div class="row">
				<div class="col-lg-6">
				<label>Horario Atención:</label>
			    	<div class="input-group">
			    		<input type="text" class="form-control" placeholder="HoraIn:MinIn:SegIn-HoraFin:MinFin:SegFin">
			    		<span class="input-group-btn">
			       	    	<button class="btn btn-info" type="button">Agregar</button>
			      		</span>
			      	 </div>
			  	</div>
			</div>	
			<br>	
			<br>
			<div class="row">
				<div class="col-lg-6">
					<a href="/excepciones">
					<button class="btn btn-warning" type="button">Excepciones a horarios de atención</button>
					</a>
				</div>
			</div>
			<br>
			<br>
			
		<input class="btn btn-info" type="submit" value="Aceptar"/>
			
	</main>

	</form>
	<footer>
		<div class="footer" style="padding: 0px 0;">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<a class="navbar-brand bac-footer" style="margin-top: 15px;"
							href="http://www.buenosaires.gob.ar" target="_blank">Buenos
							Aires Ciudad</a>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="sub-brand">
							<p>
								Diseño de Sistemas - UTN - FRBA<br /> <span
									class="text-muted">Grupo 45</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="bastrap3/jquery.min.js"></script>
	<script src="bastrap3/bootstrap.min.js"></script>
	<script src="bastrap3/validator.js"></script> <!-- http://1000hz.github.io/bootstrap-validator -->
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/loginProcess.js"></script>
	<script src="js/slideImages.js"></script>

</body>
</html>