<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Alta/Modificación</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery-2.2.3.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body> 

	<form>
	
		<h1>POI:</h1>
			
			<div class="row">
				<div class="col-lg-6">
				<label>Nombre:</label>
			    	<div class="input-group">
			    		
			    			<input type="text" class="form-control" placeholder="Nombre">
			    		<span class="input-group-btn">
			       	    	<button class="btn btn-info" type="button">Agregar</button>
			      		</span>
			      			
			   		 </div>
			  	</div>
			</div>
			<br>
			<br>
			
			<div class="row">
				<div class="col-lg-6">
				<label>Ubicación:</label>
			    	<div class="input-group">
			    		<input type="text" class="form-control" placeholder="Ubicación">
			    		<span class="input-group-btn">
			       	    	<button class="btn btn-info" type="button">Agregar</button>
			      		</span>			      			
			   		 </div>
			  	</div>
			</div>
			<br>
			<br>
			<div class="row">
				<div class="col-lg-6">
				<label>Agregar etiquetas:</label>
			    	<div class="input-group">
			    		<input type="text" class="form-control" placeholder="Etiquetas">
			    		<span class="input-group-btn">
			       	    	<button class="btn btn-info" type="button">Agregar</button>
			      		</span>
			      	 </div>
			  	</div>
			</div>
			<br>
			<br>	
			<div class="row">
				<div class="col-lg-6">
				<label>Horario Atención:</label>
			    	<div class="input-group">
			    		<input type="text" class="form-control" placeholder="HoraIn:MinIn:SegIn-HoraFin:MinFin:SegFin">
			    		<span class="input-group-btn">
			       	    	<button class="btn btn-info" type="button">Agregar</button>
			      		</span>
			      	 </div>
			  	</div>
			</div>	
			<br>	
			<br>
			<div class="row">
				<div class="col-lg-6">
					<a href="/excepciones">
					<button class="btn btn-warning" type="button">Excepciones a horarios de atención</button>
					</a>
				</div>
			</div>
			<br>
			<br>
			
		<input class="btn btn-info" type="submit" value="Aceptar"/>
		
		


	</form>

</body>
</html>