<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body> 

	<form action="/modificar">
	
		<label>POI:</label>
			<select>
			<option> ... </option>
			</select>
		<br>
		<br>
		<label> Agregar Etiqueta:</label>
			<input type="text" />
		<label> Eliminar Etiqueta: </label>
			<select>
			<option> ... </option>
			</select>
		<br>
		<br>
		<label> Cambiar ubicación:</label>
			<input type="text" />
		<br>
		<br>
		
		<input type="submit" value="Modificar"/>
		
		


	</form>

</body>
</html>