<!DOCTYPE html>
<html>
<head>
	<title>Insert title here</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<form action="/abmPOI">

		<h1>ABM POI's</h1>
		
			<input type="button" value="Agregar POI"/>
		
			{{#hasResults}}	
		
			<table>
			
				<thead>
					<tr>					
						<th> Nombre </th>
						<th> Eliminar </th>
						<th> Modificar </th>
					</tr>
			    </thead>			    
			    	<tbody>
			    		{{#each results}}
						<tr> 
							<td>{{{nombre}}}</td>
							<td>
								<input type="button" value="Modificar" >
							</td>
							<td>
								<input type="button" value="Eliminar"  >
							</td>
							
						</tr>
					{{~/each}}
								    	
										
			  		</tbody>
					
			</table>

	</form>

</body>
</html>