<!DOCTYPE html PUBLIC>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
	content="Sitio externo del Gobierno de la Ciudad de Buenos Aires.">
<meta name="author" content="Grupo45 - UTN-BA">
<title>Historial de Búsquedas Realizadas</title>
<link rel="shortcut icon" href="/bastrap3/favicon.ico">
<link rel="apple-touch-icon-precomposed"
	href="/bastrap3/favicon-mobile.png">
<link rel="stylesheet" href="/bastrap3/bootstrap.min.css">
<link rel="stylesheet" href="/bastrap3/bastrap.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/slideImages.css">
<link rel="stylesheet" href="/css/scrollable-table.css">

</head>
<body>

	<header class="navbar navbar-primary navbar-top">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<a class="navbar-brand bac-header" href="/my_home_page">Buenos
						Aires Ciudad</a>
				</div>
				<div class="col-md-6 col-sm-6">
					<h3 class="sub-brand">Reportes</h3>
				</div>
			</div>
		</div>
	</header>
	
	<main class="main-container" role="main" style="padding-top: 0px;padding-bottom: 0px;">
	<form id="queryReport-form" >
		<div class="form-group">
			<label for="selectReport">Tipo de Reporte</label>
			<select class="form-control" id="selectReport">
				<option value="">--Seleccionar--</option>
				<option value="byDate">Reporte por fecha</option>
				<option value="byTerminal">Reporte por terminal</option>
				<option value="byTerminalAndDate">Reporte por terminal y fecha</option>
			</select>
		</div>
	</form>
	<div id="advancedReportView">
		
	</div>
	<div id="defaultReportView"></div>
	
	</main>
			<footer>
		<div class="footer" style="padding: 0px 0;">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<a class="navbar-brand bac-footer" style="margin-top: 15px;"
							href="http://www.buenosaires.gob.ar" target="_blank">Buenos
							Aires Ciudad</a>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="sub-brand">
							<p>
								Diseño de Sistemas - UTN - FRBA<br /> 
								<span class="text-muted">Grupo 45</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</footer>
	
	<script src="/bastrap3/jquery.min.js"></script>
	<script src="/bastrap3/bootstrap.min.js"></script>
	<script src="/bastrap3/validator.js"></script> <!-- http://1000hz.github.io/bootstrap-validator -->
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/loginProcess.js"></script>
	<script src="/js/slideImages.js"></script>
	
	<script src="/js/raphael-min.js"></script>
	<script src="/js/jquery-2.2.3.min.js"></script>
	<script src="/js/morris-0.4.1.min.js"></script>
	<script type="text/javascript">
		$('document').ready(function() {
			$("#selectReport").val("{{selectReportValue}}").change();
			$("#selectReport").change(function() {
				var data = $(this).val();
				var url = "/query_reports";
				if (data) {
					url = url.concat("/").concat(data);
				}
				window.location = url;
			    return false;
			});
		});
	</script>
	{{#hasResults}}
	<script type="text/javascript">
		$('document').ready(function() {
			var data = [];
			switch("{{selectReportValue}}") {
		    case "byDate":
			    {{#each results}}
					data.push({"Fecha":"{{Fecha}}","Cantidad":"{{Cantidad}}"});
				{{~/each}}
				Morris.Line({
					  element: 'advancedReportView',
					  data: data,
					  xkey: 'Fecha',
					  ykeys: ['Cantidad'],
					  labels: ['Cantidad de Busquedas']
				});
		        break;
		    case "byTerminal":
			    {{#each results}}
					data.push({"Terminal":"{{Terminal}}","Cantidad":"{{Cantidad}}"});
				{{~/each}}
				Morris.Bar({
					  element: 'advancedReportView',
					  data: data,
					  xkey: 'Terminal',
					  ykeys: ['Cantidad'],
					  labels: ['Cantidad de Busquedas']
				});
		        break;
		    case "byTerminalAndDate":
		    	{{#each results}}
					data.push({
						{{#each Terminales}}
							"{{Terminal}}":"{{Cantidad}}",
						{{~/each}}
						"Fecha":"{{Fecha}}"
					});
				{{~/each}}
				Morris.Line({
					  element: 'advancedReportView',
					  data: data,
					  xkey: 'Fecha',
					  ykeys: [
					  		{{#each terminals}}
								"{{Terminal}}",
							{{~/each}}
						],
					  labels: [
					  		{{#each terminals}}
								"{{Terminal}}",
							{{~/each}}
						]
				});
		        break;
			}
		});
	</script>
	{{/hasResults}}
</body>
</html>
