<!DOCTYPE html >
<html>
<head>
<title>Puntos de Interes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<script src="/js/raphael-min.js"></script>
	<script src="/js/jquery-2.2.3.min.js"></script>
	<script src="/js/morris-0.4.1.min.js"></script>
	<script type="text/javascript">
		$('document').ready(function() {
			$("#selectReport").val("{{selectReportValue}}").change();
			$("#selectReport").change(function() {
				var data = $(this).val();
				var url = "/query_reports";
				if (data) {
					url = url.concat("/").concat(data);
				}
				window.location = url;
			    return false;
			});
		});
	</script>
	{{#hasResults}}
	<script type="text/javascript">
		$('document').ready(function() {
			var data = [];
			switch("{{selectReportValue}}") {
		    case "byDate":
			    {{#each results}}
					data.push({"Fecha":"{{Fecha}}","Cantidad":"{{Cantidad}}"});
				{{~/each}}
				Morris.Line({
					  element: 'advancedReportView',
					  data: data,
					  xkey: 'Fecha',
					  ykeys: ['Cantidad'],
					  labels: ['Cantidad de Busquedas']
				});
		        break;
		    case "byTerminal":
			    {{#each results}}
					data.push({"Terminal":"{{Terminal}}","Cantidad":"{{Cantidad}}"});
				{{~/each}}
				Morris.Bar({
					  element: 'advancedReportView',
					  data: data,
					  xkey: 'Terminal',
					  ykeys: ['Cantidad'],
					  labels: ['Cantidad de Busquedas']
				});
		        break;
		    case "byTerminalAndDate":
		    	{{#each results}}
					data.push({
						{{#each Terminales}}
							"{{Terminal}}":"{{Cantidad}}",
						{{~/each}}
						"Fecha":"{{Fecha}}"
					});
				{{~/each}}
				Morris.Line({
					  element: 'advancedReportView',
					  data: data,
					  xkey: 'Fecha',
					  ykeys: [
					  		{{#each terminals}}
								"{{Terminal}}",
							{{~/each}}
						],
					  labels: [
					  		{{#each terminals}}
								"{{Terminal}}",
							{{~/each}}
						]
				});
		        break;
			}
		});
	</script>
	{{/hasResults}}
</head>
<body>
	<form id="queryReport-form" >
		<div class="form-group">
			<label for="selectReport">Tipo de Reporte</label>
			<select class="form-control" id="selectReport">
				<option value="">--Seleccionar--</option>
				<option value="byDate">Reporte por fecha</option>
				<option value="byTerminal">Reporte por terminal</option>
				<option value="byTerminalAndDate">Reporte por terminal y fecha</option>
			</select>
		</div>
	</form>
	<div id="advancedReportView">
		
	</div>
	<div id="defaultReportView"></div>
</body>
</html>
