<!DOCTYPE html >
<html>
<head>
<title>Puntos de Interes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<script src="/js/raphael-min.js"></script>
	<script src="/js/jquery-2.2.3.min.js"></script>
	<script src="/js/morris-0.4.1.min.js"></script>
	<script>
		$('document').ready(function() {
			$("#selectReport").change(function() {
				var data = $(this).val();
				var url = "/query_reports";
				if (data) {
					url = url.concat("/").concat(data);
				}
				window.location = url;
			    return false;
			});
		});
	</script>

</head>
<body>
	<form id="queryReport-form" >
		<div class="form-group">
			<label for="selectReport">Tipo de Reporte</label>
			<select class="form-control" id="selectReport">
				<option value="">--Seleccionar--</option>
				<option value="byDate">Reporte por fecha</option>
				<option value="byTerminal">Reporte por terminal</option>
				<option value="byTerminalAndDate">Reporte por terminal y fecha</option>
			</select>
		</div>
	</form>
	<div id="advancedReportView"></div>
	<div id="defaultReportView"></div>
</body>
</html>
