<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Sitio externo del Gobierno de la Ciudad de Buenos Aires.">
	<meta name="author" content="Grupo45 - UTN-BA">
	<title>Puntos de Interes</title>
	<link rel="shortcut icon" href="bastrap3/favicon.ico">
	<link rel="apple-touch-icon-precomposed" href="bastrap3/favicon-mobile.png">
	<link rel="stylesheet" href="bastrap3/bootstrap.min.css">
	<link rel="stylesheet" href="css/ionicons.css" >
	<link rel="stylesheet" href="map-icons-master/dist/css/map-icons.css" >
	<link rel="stylesheet" href="bastrap3/bastrap.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/markerInfoWindows.css">
	<link rel="stylesheet" href="css/sidebar.css" >
	<link rel="stylesheet" href="css/maps.css" >
	
</head>

<body>
	<header class="navbar navbar-primary navbar-top">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<a class="navbar-brand bac-header" href="index.html">Buenos
						Aires Ciudad</a>
				</div>
				<div class="col-md-6 col-sm-6">
					<h5 class="sub-brand">Puntos de Interes</h5>
				</div>
			</div>
		</div>
	</header>
	<main class="main-container" role="main" style="padding-top: 0px;padding-bottom: 0px;">
		<div class="sidebar-wrapper col-sm-4 col-md-4 sidebar">
	    	<div class="mini-submenu">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
	    	</div>
			<div class="list-group">
				<div class="sidebar-wrapper-header">
					<h5 style="margin-top: 0px;"> Filtros de Busqueda </h5>
					<span id="slide-submenu" class="glyphicon glyphicon-remove pull-right"></span>
				</div>	
				<div class="sidebar-wrapper-content">
					<form role="form" action="my_home_page" method="post">
						<div class="checkbox sidebar-wrapper-mode">
							<input id="searchMode" type="checkbox" name="manualMode" value="ON" {{searchModeValue}} >
						</div>
						<div class="advancedFilters">
							<div class="filters poiFilters row shortcut-row">
								<div class="col-sm-6 col-md-3 shortcut">
							        <label class="image-checkbox">
							            <span class="bg-warning-lt">
											<span class="map-icon map-icon-museum"></span>
									    </span>
							            <input type="checkbox" name="cgpFilter" value="ON" {{cgpFilterValue}}/>
							            <h6 class="checkbox-text">CGP</h6>
							        </label>
							    </div>
							    <div class="col-sm-6 col-md-3 shortcut">
							        <label class="image-checkbox">
							            <span class="bg-warning-lt">
											<span class="map-icon map-icon-bus-station"></span>
									    </span>
							            <input type="checkbox" name="busStopFilter" value="ON" {{busStopFilterValue}}/>
							            <h6 class="checkbox-text">Paradas de Colectivo</h6>
							        </label>
							    </div>
							    <div class="col-sm-6 col-md-3 shortcut">
							        <label class="image-checkbox">
							            <span class="bg-warning-lt">
											<span class="map-icon map-icon-department-store"></span>
									    </span>
							            <input type="checkbox" name="localFilter" value="ON" {{localFilterValue}}/>
							            <h6 class="checkbox-text">Locales Comerciales</h6>
							        </label>
							    </div>
							    <div class="col-sm-6 col-md-3 shortcut">
							        <label class="image-checkbox">
							            <span class="bg-warning-lt">
											<span class="map-icon map-icon-bank"></span>
									    </span>
							            <input type="checkbox" name="bankFilter" value="ON" {{bankFilterValue}}/>
							            <h6 class="checkbox-text">Sucursales de Banco</h6>
							        </label>
							    </div>
							</div>
							<div class="filters row shortcut-row">
								{{#accessDisponibilityFilter}}
								<div class="col-sm-6 col-md-6 shortcut">
							        <label class="image-checkbox">
							            <span class="bg-warning-lt">
											<i class="icon ion-clock"></i>
									    </span>
							            <input type="checkbox" name="disponibilityFilter" value="ON" {{disponibilityFilterValue}}/>
							            <h6 class="checkbox-text">Disponible</h6>
							        </label>
							    </div>
								{{/accessDisponibilityFilter}}
								{{#accessProximityFilter}}
								<div class="col-sm-6 col-md-6 shortcut">
							        <label class="image-checkbox">
							            <span class="bg-warning-lt">
											<i class="icon ion-map"></i>
									    </span>
							            <input type="checkbox" name="proximityFilter" value="ON" {{proximityFilterValue}}/>
							            <h6 class="checkbox-text">Cercanos</h6>
							        </label>
							    </div>
								{{/accessProximityFilter}}
							</div>
	
	
						</div>
						<div class="manualFilters">
							{{#accessTagFilter}}
							<div class="form-group">
								<label for="tagFilter">Palabra Clave</label>
								<input id="tagFilter" type="text" name="tagFilter" value= "{{tagFilterValue}}" class="form-control" placeholder="Ingrese una etiqueta">
							</div>
							{{/accessTagFilter}}
						</div>
						<input id="searchButton" class="btn btn-primary" type="submit" value="Buscar"/>
					</form>
				</div> 	
				<div class="sidebar-wrapper-footer"></div>
			</div>        
		</div>
        <div id="googleMap"></div>
	</main>
	<footer>
		<div class="footer" style="padding: 0px 0;">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<a class="navbar-brand bac-footer" style="margin-top: 15px;"
							href="http://www.buenosaires.gob.ar" target="_blank">Buenos
							Aires Ciudad</a>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="sub-brand">
							<p>
								Diseño de Sistemas - UTN - FRBA<br /> <span
									class="text-muted">Grupo 45</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="bastrap3/jquery.min.js"></script>
	<script src="bastrap3/bootstrap.min.js"></script>
	<script src="bastrap3/validator.js"></script> <!-- http://1000hz.github.io/bootstrap-validator -->
	<script src="bootstrapCheckbox/js/bootstrap-checkbox.min.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBgvn_2I1NSn8nh8z3e2tgI5RUxktygzuc&sensor=false">
	</script>
	<script src="js/terminalSettings.js"></script>
	<script src="map-icons-master/dist/js/map-icons.js"></script>
	<script>
		$(document).ready(function() {
			function removeInfoWindowsFields(className,content){
				//me encargo de remover los campos que no corresponden a className
				content.find(".modal-body .data-group").hide();
				$.each(content.find(".modal-body .data-group"), function() {
					if (!($(this).hasClass( className ))){
						$(this).remove();
					}else{
						$(this).show();
					}
				});
			};
			var myCenter=new google.maps.LatLng(parseFloat({{latitud}}), parseFloat({{longitud}}));
			function initialize() {
				//configuracion inicial de mi mapa
			  	var mapProp = {
				    center:myCenter,
				    zoom:12,
				    panControl: true,
				    zoomControl: true,
				    mapTypeControl: false,
				    scaleControl: false,
				    streetViewControl: true,
				    overviewMapControl: false,
				    rotateControl: false
			  	};
				
				//creo el mapa y seteo las propiedad
		  		var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
				var icon={
					path: MAP_PIN,
					fillColor: '#edaf00',
					fillOpacity: 1,
					strokeColor: '#5f4600',
					strokeWeight: 0.5,
					size: new google.maps.Size(20, 20)
				};
			  	//creo un punto con sus propiedades y animaciones
				var markerCenter = new Marker({
					map: map,
					position:myCenter,
					icon: icon,
					map_icon_label: '<span class="map-icon map-icon-postal-code-prefix"></span>',
					title: "Posicion actual"
				});
		
				//creo un popup de informacion
				markerCenter.addListener('click', function() {
					$(".map-content.modal-content").remove();
					new google.maps.InfoWindow({
						content : (
							'<div class="map-content modal-content">'+
								'<span class="map-icon marker-center map-icon-postal-code-prefix"></span>'+
								'<h5 style="display: inline-block;">Usted se encuentra aquí!</h5>'+
							'</div>'
						)
					}).open(map, this);
				});
				
				//creo los puntos de los resultados
				{{#hasResults}}
					var poiPosition;
					var poiMarker;
					{{#each results}}
						poiPosition = new google.maps.LatLng(parseFloat({{latitud}}), parseFloat({{longitud}}));
						poiMarker = new Marker({
							map: map,
							position: poiPosition,
						 	icon: icon,
							map_icon_label: '<span class="map-icon {{icon}}"></span>',
						 	title: '{{nombre}}'
						 });
						 poiMarker.addListener('click', function() {
							 new google.maps.InfoWindow({
								 	content: (
								 		'<div class="map-content modal-content {{cssClass}}">'+
											'<div class="modal-header">'+
												'<span class="map-icon {{icon}}"></span>'+
												'<h4>{{titulo}}</h4>'+
											'</div>'+
											'<div class="modal-body">'+
												'<div style="display:none;" class="data-group data-colectivo">'+
												    '<label class="data-value">{{linea}}</label>'+
												'</div>'+
												'<div style="display:none;" class="data-group data-cgp data-local data-banco">'+
												    '<label class="data-name">Dirección</label>'+
												    '<label class="data-value">{{direccion}}</label>'+
												'</div>'+
												'<div style="display:none;" class="data-group data-cgp">'+
												    '<label class="data-name">Zona</label>'+
												    '<label class="data-value">{{zona}}</label>'+
												'</div>'+
												'<div style="display:none;" class="data-group data-cgp">'+
													'<ul>'+
														{{#each servicios}}
															'<li>{{name}}</li>'+
														{{~/each}}
													'</ul>'+
												'</div>'+
												'<div style="display:none;" class="data-group data-banco">'+
													'<h5> Servicios Disponibles </h5>'+
													'<ul>'+
														{{#each servicios}}
															'<li>{{this}}</li>'+
														{{~/each}}
													'</ul>'+
												'</div>'+
												'<div style="display:none;" class="data-group data-local">'+
												    '<label class="data-name">Nombre</label>'+
												    '<label class="data-value">{{nombre}}</label>'+
												'</div>'+
												'<div style="display:none;" class="data-group data-local">'+
												    '<label class="data-name">Rubro</label>'+
												    '<label class="data-value">{{rubro}}</label>'+
												'</div>'+
											'</div>'+
										'</div>'		
								 	)
								 }).open(map, this);
							 removeInfoWindowsFields("{{cssClass}}",$(".modal-content"));
						 });
					{{~/each}}
				{{/hasResults}}
			}
			google.maps.event.addDomListener(window, 'load', initialize);
		});
	</script>
</body>
</html>