<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<title>Puntos de Interes</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<h1>Puntos de Interes</h1>
	<form action="terminalSearch" method="post">
		<div class="filters">
			<ul>
				<li><input type="checkbox" name="cgpServiceFilter" value="ON" checked> Centros de Gestión Comunal </li>
				<li><input type="checkbox" name="colectivoFilter" value="ON" checked> Paradas de Colectivo </li>
				<li><input type="checkbox" name="comercioFilter" value="ON" checked> Locales Comerciales </li>
				<li><input type="checkbox" name="bankFilter" value="ON" checked> Sucursales de Banco </li>
			</ul>
		</div>
		<div class="filters">
			<ul>
				<li><input type="checkbox" name="disponibilityFilter" value="ON" checked> Solo disponible </li>
				<li><input type="checkbox" name="proximityFilter" value="ON" checked> Solo cercanos </li>
			</ul>
		</div>
	
		<div class="manualFilters">
			Palabra Clave:
			<input type="text" name="stringFilter"/>
			<input type="submit" value="Buscar"/>
		</div>
	</form>
	
	{{#hasResults}}
		<div id="string">{{string}}</div>
		<div id="results">
			<table>
				<thead>
					<tr>
						<th> POI </th>
						<th> Longitud </th>
						<th> Latitud </th>
						<th> Calle </th>
						<th> Altura </th>
						<th> Esta Cerca </th>
						<th> Esta Disponible </th>
					</tr>
				</thead>
				<tbody>
					{{#results}}
						<tr> 
							<td>{{nombre.nombre}}</td>
							<td>{{longitud}}</td>
							<td>{{latitud}}</td>
							<td>{{calle}}</td>
							<td>{{altura}}</td>
							<td>{{estaCerca}}</td>
							<td>{{estaDisponible}}</td>
						</tr>
					{{/results}}
				</tbody>
			</table>
		</div>
	{{/hasResults}}
</body>
</html>